# Assignment 7

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [2]:
# Write your answer here:
print("Shaili Patel")

Shaili Patel

<font size = "5">

Import the "pandas" and "numpy" library

In [3]:
# Write your answer here:
import pandas as pd
import numpy as np

<font size = "5">

(a) Replace values from intervals

<font size = "3">

- Import the dataset "data_raw/students.csv" to a new object "students"
- Use "pd.cut()" to assign the column "numericgrade" to a letter grade <br>
using the following table

<img src="figures/grading_scale.png" alt="drawing" width="600"/>

HINT: See Lecture 12

In [17]:
# Write your answer here:
students = pd.read_csv("data_raw/students.csv")

bins = [0, 54, 59, 64, 69, 74, 79, 82, 86, 92, 100]
labels = ["F", "D", "C-", "C", "C+", "B-", "B", "B+", "A-", "A"]

students["lettergrade"] = pd.cut(students["numericgrade"], bins = bins, labels = labels, ordered = False)

print(students)

    studentid  numericgrade lettergrade
0           1            61          C-
1           2             0         NaN
2           3            14           F
3           4            57           D
4           5            72          C+
5           6            93           A
6           7            40           F
7           8            11           F
8           9             3           F
9          10            63          C-
10         11             7           F
11         12            46           F
12         13            75          B-
13         14            95           A
14         15            22           F
15         16            40           F
16         17            53           F
17         18            57           D
18         19            82           B
19         20            50           F
20         21             8           F
21         22            87          A-
22         23            82           B
23         24            30           F
24         25            62          C-

<font size = "5">

For questions (b)-(e) use "sprint_results.csv", <br>
a dataset on competitive car racing

Import the dataset "data_raw/sprint_results.csv" to <br>
 a new object "sprint_results"

In [9]:
# Write your own code
sprint_results = pd.read_csv("data_raw/sprint_results.csv")

<font size = "5">

(b) Check column types

<font size = "3">

- View the dataset
- Use the function `sprint_results.dtypes` to get the column data types
- Search for the "sprint_results" table in "codebook/f1_codebook.pdf".
- **Print if the type of the "position" column agree with the codebook?** <br>
i.e. is it an integer, float, or string/object?

HINT: See Lectures 12 and 13 for how to interpret the codebook

- Print the difference you observed between the codebook and the new dataframe you have created.

---
**Optional**
- Convert this `sprint_results.dtypes` object type into DataFrame and  the datatype of `position`.
- HINT: Use pd.DataFrame().reset_index <br>
`reset_index` is to convert the index to a column 
---





<span style = "color:blue"> There are other columns that has disparity with the codebook.\
Feel free to explore them! </span>

In [37]:
# Write your own code here
# Note: When you run "sprint_results.dtypes" you will get the type (int, float, object)
# Object represents columns coded as strings.

column_data_types = sprint_results.dtypes

position_data_types = column_data_types["position"]
codebook_data_type = "int"

if str(position_data_types) == codebook_data_type:
    print("The 'position' column data type matches the codebook.")
else:
    print("The 'position' column data type does not match the codebook.")
    
differences = sprint_results.dtypes[sprint_results.dtypes != codebook_data_type]
print("\nDifferences between codebook and DataFrame data types:")
print(differences)

# Optional
data_types_df = column_data_types.reset_index()
data_types_df.columns = ["Column Name", "Data Type"]
print("\nData Types DataFrame:")
print(data_types_df)

The 'position' column data type does not match the codebook.

Differences between codebook and DataFrame data types:
position          float64
positionText       object
time               object
milliseconds       object
fastestLap         object
fastestLapTime     object
dtype: object

Data Types DataFrame:
       Column Name Data Type
0         resultId     int64
1           raceId     int64
2         driverId     int64
3    constructorId     int64
4           number     int64
5             grid     int64
6         position   float64
7     positionText    object
8    positionOrder     int64
9           points     int64
10            laps     int64
11            time    object
12    milliseconds    object
13      fastestLap    object
14  fastestLapTime    object
15        statusId     int64

<font size = "5">

(c) Clean a column

<font size = "3">

- Our goal is to replace any string values in the column "position" <br>
to missing values (NaNs) and covert to numeric

- To do so
    1. Extract list of non-numeric values
    2. Replace certain list of values
    3. Convert column to numeric
    4. Display

In [53]:
# Write your own code here
non_numeric_values = sprint_results[~sprint_results["position"].astype(str).str.isnumeric()]["position"].unique()

sprint_results.loc[sprint_results["position"].isin(non_numeric_values), "position"] = np.nan

sprint_results["position"] = sprint_results["position"].astype(float)

print(sprint_results["position"])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
115   NaN
116   NaN
117   NaN
118   NaN
119   NaN
Name: position, Length: 120, dtype: float64

In [55]:
# Create a list for replacement
values_to_replace = ["DNF", "DNS", "NC", "WD"]

sprint_results["position"] = sprint_results["position"].replace(values_to_replace, np.nan)

sprint_results["position"] = pd.to_numeric(sprint_results["position"])

print(sprint_results["position"])

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
115   NaN
116   NaN
117   NaN
118   NaN
119   NaN
Name: position, Length: 120, dtype: float64

<font size = "5">

(d) Groupby + Aggregate

<font size = "3">

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_aggConstrcId_pos"

- Sort the aggregate dataset in ascending <br>
order of mean position using ".sort_values()" <br>
(i.e., to find the constructor with drivers having the best mean positions)

- Display

- Print which constructorId has the lowest mean position.

HINT: See Lecture 13 <br>

In [45]:
# Write your own code
df_aggConstrcId_pos = sprint_results.groupby("constructorId")["position"].agg(['mean', 'std'])

df_aggConstrcId_pos = df_aggConstrcId_pos.sort_values(by='mean', ascending=True)

print(df_aggConstrcId_pos)

lowest_mean_position = df_aggConstrcId_pos.iloc[0].name
print(f"The constructorId with the lowest mean position is {lowest_mean_position}.")

               mean  std
constructorId
1               NaN  NaN
3               NaN  NaN
6               NaN  NaN
9               NaN  NaN
51              NaN  NaN
117             NaN  NaN
131             NaN  NaN
210             NaN  NaN
213             NaN  NaN
214             NaN  NaN
The constructorId with the lowest mean position is 1.

<font size = "5" >

(d) Query + Groupby + Aggregate

<font size = "3">

- Use ".query()" to subset observations with <br>
'race_id >= 100'

- Compute the mean and standard deviation of "position", <br>
grouping by "constructorId". Store the new dataset <br>
as "df_subAggConstr_pos"

- Display

Hint: See Lectures 9 and 11 (to refresh ".query()") and <br>
Lecture 13 for how to combine it with ".groupby()"

In [52]:
# Write your own code
filtered_data = sprint_results.query('raceId >= 100')

df_subAggConstr_pos = filtered_data.groupby("constructorId")["position"].agg(['mean', 'std'])

print(df_subAggConstr_pos)

               mean  std
constructorId
1               NaN  NaN
3               NaN  NaN
6               NaN  NaN
9               NaN  NaN
51              NaN  NaN
117             NaN  NaN
131             NaN  NaN
210             NaN  NaN
213             NaN  NaN
214             NaN  NaN